POSTGRES_HOST=postgres_local
POSTGRES_PORT=5432
DBT_USER=dbt_user
DBT_USER_PASSWORD=password
POSTGRES_DB=postgres
DBT_SCHEMA=staging_customer1
ADMIN_USER=admin
ADMIN_PASSWORD=password
WAREHOUSE_BACKEND=postgres