version: 2
models:
{% for dim_model in dim_models %}
  - name: {{ dim_model }}
    columns:
      - name: {{ dim_model }}_sk
        tests:
          - not_null
          - unique

      - name: code
        tests:
          - not_null
{% endfor %}
  - name: {{ fact_model }}
    columns:
    {% for dim_model in dim_models %}
      - name: {{ dim_model }}_sk
        tests:
          - not_null
          - relationships:
              to: ref('{{ dim_model }}')
              field: {{ dim_model }}_sk
    {% endfor %}